:root {
    --border-color: hsla(0, 0%, 45%, 1);
    --border-radius: 5px;
    --dark-background-color: hsla(0, 0%, 5%, .75);
    --default-text-color: hsla(0, 0%, 95%, 1);
    --light-background-color: hsla(0, 0%, 35%, .95);
    --link-color: rgb(170, 197, 255);
}
