:root {
  --border-color: hsla(0, 0%, 45%, 1);
  --border-radius: 5px;
  --dark-background-color: hsla(0, 0%, 5%, .75);
  --default-text-color: hsla(0, 0%, 95%, 1);
  --light-background-color: hsla(0, 0%, 35%, .95);
  --link-color: rgb(170, 197, 255);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: var(--link-color);
}

body {
  background-color: hsla(0, 0%, 15%, 0.5);
  backdrop-filter: brightness(60%);
  background-image: url(../images/background.jpeg);
  background-position: top center;
  color: var(--default-text-color);
  min-height: 100vh;
  -webkit-backdrop-filter: brightness(60%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--default-text-color);
  font-family: Poppins, sans-serif;
}

h1 {
  line-height: 1.5;
  margin-top: 1rem;
}

.lead {
  font-size: 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
}
.lead p {
  margin-bottom: 0;
  line-height: 2rem;
}

.content {
  padding-top: 2rem;
}
@media (min-width: 64rem) {
  .content {
    margin-left: 20rem;
    margin-right: 2rem;
  }
}
@media (min-width: 48rem) {
  .content {
    max-width: 44rem;
  }
}

.sidebar-about h1 {
  line-height: 2rem;
  margin-top: 1.6rem;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
}
.sidebar-nav li {
  display: flex;
  line-height: 2rem;
}

.posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

.post-list-item {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}
@media (min-width: 64rem) {
  .post-list-item {
    width: calc((100% - 1rem) / 2);
  }
}
.post-list-item__title {
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 0;
}
.post-list-item__date {
  color: var(--default-text-color);
  font-size: 0.75rem;
  line-height: 1rem;
}
.post-list-item__summary {
  line-height: 1.5rem;
  margin-top: 0.9rem;
}
.post-list-item__more {
  margin-top: 0.5rem;
}

.contact-form {
  display: grid;
  grid-template-areas: "name" "email" "subject" "message" "send";
  gap: 1rem;
}
@media (min-width: 30em) {
  .contact-form {
    grid-template-areas: "name email" "subject subject" "message message" ". send";
  }
}
.contact-form__item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.contact-form__name {
  grid-area: name;
}
.contact-form__email {
  grid-area: email;
}
.contact-form__subject {
  grid-area: subject;
}
.contact-form__message {
  grid-area: message;
}
.contact-form__send {
  grid-area: send;
}
.contact-form__label {
  display: inline-block;
  font-size: 0.75rem;
  width: 5rem;
}
.contact-form__text-input, .contact-form__textarea, .contact-form__send {
  background-color: var(--dark-background-color);
  border: 1px solid var(--border-color);
  color: var(--default-text-color);
  font-size: 0.75rem;
  padding: 0.25rem;
}
.contact-form__message {
  height: 10rem;
}
.contact-form__send {
  background-color: var(--light-background-color);
  justify-self: end;
  padding: 0.25rem 1rem;
}

.services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.service {
  background-color: var(--dark-background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 1rem;
  transition: all 0.3s ease-out;
}
@media (min-width: 64rem) {
  .service {
    width: calc((100% - 1rem) / 2);
  }
}
.service:hover {
  transform: perspective(500px) scale3d(1, 1, 2) translateZ(10px);
}
.service__title {
  font-size: 1.5rem;
  font-weight: 800;
}

@media (min-width: 48em) {
  .sidebar-about h1 {
    font-size: 1.25rem;
  }
}/*# sourceMappingURL=custom.css.map */