:root {
  --background-overlay-color: hsla(0, 0%, 5%, .75);
  --border-color: hsla(0, 0%, 45%, 1);
  --border-radius: 5px;
  --button-background: hsla(0, 0%, 35%, .9);
  --button-hover-background: hsla(221, 100%, 83%, 1);
  --dark-background-color: hsla(0, 0%, 15%, .9);
  --default-text-color: hsla(0, 0%, 95%, 1);
  --light-background-color: hsla(0, 0%, 35%, .9);
  --link-color: hsla(221, 100%, 83%, 1);
  --text-background-color: hsla(0, 0%, 35%, .5);
  --sidebar-level: 100;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: var(--link-color);
}

body {
  background-image: none;
  color: var(--default-text-color);
  font-size: 18px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--default-text-color);
  font-family: Poppins, sans-serif;
}

h1 {
  font-size: 1.75rem;
  line-height: 1.5;
  margin-bottom: 3rem;
  margin-top: 0;
}

h2 {
  font-size: 1.25rem;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.lead {
  font-size: 1rem;
  text-transform: uppercase;
}
.lead p {
  margin-bottom: 0;
  line-height: 2rem;
}

.content {
  padding-top: 2rem;
}
@media (min-width: 64rem) {
  .content {
    margin-left: 20rem;
    margin-right: 2rem;
  }
}
@media (min-width: 48rem) {
  .content {
    max-width: 44rem;
  }
}

.sidebar {
  /* disable scrollbar */
  /* Safari */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  background: var(--dark-background-color);
  overflow-y: scroll;
  z-index: var(--sidebar-level);
}
.sidebar::-webkit-scrollbar {
  display: none;
}
@media (min-width: 48em) {
  .sidebar {
    padding-top: 2rem;
  }
}
.sidebar-about h1 {
  line-height: 3rem;
  margin-bottom: 0.1rem;
  margin-top: 1.5rem;
}
@media (min-width: 48em) {
  .sidebar-about h1 {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}
.sidebar-nav {
  display: flex;
  flex-direction: column;
}
.sidebar-nav li {
  display: flex;
  line-height: 2rem;
}

.posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.post-list-item {
  background: var(--dark-background-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}
@media (min-width: 64rem) {
  .post-list-item {
    width: calc((100% - 1rem) / 2);
  }
  .post-list-item:first-child {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "image title" "image date" "image more";
    padding: 0;
    padding-right: 1rem;
    width: 100%;
  }
  .post-list-item:first-child .post-list-item__title {
    grid-area: title;
    margin-top: 1rem;
  }
  .post-list-item:first-child .post-list-item__date {
    grid-area: date;
  }
  .post-list-item:first-child .post-list-item__summary {
    grid-area: image;
    margin: 0;
  }
  .post-list-item:first-child .post-list-item__summary p {
    margin: 0;
  }
  .post-list-item:first-child .post-list-item__summary img {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
  }
  .post-list-item:first-child .post-list-item__more {
    grid-area: more;
  }
}
.post-list-item__title {
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 0;
}
.post-list-item__date {
  color: var(--default-text-color);
  font-size: 0.75rem;
  line-height: 1rem;
}
.post-list-item__summary {
  line-height: 1.5rem;
  margin-top: 0.9rem;
}
.post-list-item__more {
  margin-top: 0.5rem;
}

.contact-form {
  display: grid;
  grid-template-areas: "name" "email" "subject" "message" "send";
  gap: 1rem;
}
@media (min-width: 30em) {
  .contact-form {
    grid-template-areas: "name email" "subject subject" "message message" ". send";
  }
}
.contact-form__item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.contact-form__name {
  grid-area: name;
}
.contact-form__email {
  grid-area: email;
}
.contact-form__subject {
  grid-area: subject;
}
.contact-form__message {
  grid-area: message;
}
.contact-form__send {
  grid-area: send;
}
.contact-form__label {
  display: inline-block;
  font-size: 0.75rem;
  width: 5rem;
}
.contact-form__text-input, .contact-form__textarea, .contact-form__send {
  background-color: var(--dark-background-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  color: var(--default-text-color);
  font-size: 0.75rem;
  padding: 0.25rem;
}
.contact-form__message {
  height: 15rem;
}
.contact-form__send {
  background-color: var(--light-background-color);
  justify-self: end;
  padding: 0.25rem 1rem;
}

.services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}
details[open] .service__title {
  margin-bottom: 0.9rem;
}

@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.service {
  background: var(--dark-background-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
  width: 100%;
}
.service__title {
  cursor: pointer;
  font-size: 1.25rem;
  line-height: 2rem;
  list-style: none;
  margin-top: 0;
  width: 100%;
}
.service__title::-webkit-details-marker {
  display: none;
}
.service__contact {
  background-color: var(--light-background-color);
  border-radius: 5px;
  bottom: 1rem;
  color: var(--default-text-color);
  line-height: 2rem;
  padding: 0 1rem;
  text-align: center;
  width: 10rem;
}
.service__contact:hover {
  text-decoration: none;
}

.post-list-item,
.service {
  transition: all 0.3s ease-out;
}
.post-list-item:hover,
.service:hover {
  transform: perspective(500px) scale3d(1, 1, 1.2) translateZ(5px);
}

.post-date {
  color: var(--default-text-color);
}

.button {
  background: var(--button-background);
  color: var(--default-text-color);
  transition: all 0.1s ease-in;
}
.button:hover {
  background: var(--button-hover-background);
  box-shadow: 0 0 5px var(--button-hover-background);
  color: var(--dark-background-color);
}

.background {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}
@media (min-width: 48em) {
  .background {
    left: 18rem;
    width: calc(100% - 18rem);
  }
}
.background__overlay {
  background-color: var(--background-overlay-color);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.appearances h2 {
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.appearances ul {
  list-style-type: none;
  padding: 0;
}
@media (min-width: 48em) {
  .appearances ul {
    line-height: 2;
  }
}

@keyframes slidein {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.bio .content {
  animation: 1s cubic-bezier(0, 0, 0.2, 1) slidein;
  background: var(--text-background-color);
  min-height: 100vh;
}

.image-link {
  display: inline-block;
  position: relative;
}
.image-link:hover::after {
  background-color: var(--background-overlay-color);
  border-radius: var(--border-radius);
  color: var(--default-text-color);
  content: "View full image";
  left: 50%;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.social {
  align-items: flex-end;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
  display: flex;
  flex-direction: row;
  flex-grow: 2;
}
@media (min-width: 48em) {
  .social {
    justify-content: center;
  }
}
.social__icon {
  height: 1.75rem;
  margin: 0;
  transition: all 0.2s;
  width: 1.75rem;
}
.social__icon:hover {
  transform: scale(1.1);
}

.network {
  margin: 2rem 0;
}/*# sourceMappingURL=custom.css.map */