@use 'variables';

// defaults

*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    color: var(--link-color);
}

body {
    background-color: hsla(0, 0%, 15%, .5);
    backdrop-filter: brightness(60%);
    background-image: url(../images/background.jpeg);
    background-position: top center;
    color: var(--default-text-color);
    min-height: 100vh;
    -webkit-backdrop-filter: brightness(60%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--default-text-color);
    font-family: Poppins, sans-serif;
}

h1 {
    line-height: 1.5;
    margin-top: 1rem;
}

// class overrides

.lead {
    font-size: 1rem;
    margin-top: 1rem;
    text-transform: uppercase;

    p {
        margin-bottom: 0;
        line-height: 2rem;
    }
}

.content {
    padding-top: 2rem;

    @media (min-width: 64rem) {
        margin-left: 20rem;
        margin-right: 2rem;
    }

    @media (min-width: 48rem) {
        max-width: 44rem;
    }
}

.sidebar-about {
    h1 {
        line-height: 2rem;
        margin-top: 1.6rem;

        @media (min-width: 48em) {
            font-size: 1.25rem;
        }
    }
}

.sidebar-nav {
    display: flex;
    flex-direction: column;

    li {
        display: flex;
        line-height: 2rem;
    }
}

// custom

.posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.post-list-item {
    background: var(--dark-background-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;

    @media (min-width: 64rem) {
        width: calc((100% - 1rem) / 2);
    }

    &__title {
        font-size: 1.25rem;
        line-height: 2rem;
        margin: 0;
    }

    &__date {
        color: var(--default-text-color);
        font-size: .75rem;
        line-height: 1rem;
    }

    &__summary {
        line-height: 1.5rem;
        margin-top: .9rem;
    }

    &__more {
        margin-top: .5rem;
    }
}

.contact-form {
    display: grid;
    grid-template-areas: "name"
        "email"
        "subject"
        "message"
        "send";
    gap: 1rem;

    @media (min-width: 30em) {
        grid-template-areas: "name email"
            "subject subject"
            "message message"
            ". send";
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: .25rem;
    }

    &__name {
        grid-area: name;
    }

    &__email {
        grid-area: email;
    }

    &__subject {
        grid-area: subject;
    }

    &__message {
        grid-area: message;
    }

    &__send {
        grid-area: send;
    }

    &__label {
        display: inline-block;
        font-size: .75rem;
        width: 5rem;
    }

    &__text-input,
    &__textarea,
    &__send {
        background-color: var(--dark-background-color);
        border: 1px solid var(--border-color);
        border-radius: 5px;
        color: var(--default-text-color);
        font-size: .75rem;
        padding: .25rem;
    }

    &__message {
        height: 15rem;
    }

    &__send {
        background-color: var(--light-background-color);
        justify-self: end;
        padding: .25rem 1rem;
    }
}

.services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.service {
    background-color: var(--dark-background-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    padding: 1rem;

    @media (min-width: 64rem) {
        width: calc((100% - 1rem) / 2);
    }

    &__title {
        font-size: 1.25rem;
        line-height: 2rem;
        margin-bottom: .9rem;
    }

    &__contact {
        background-color: var(--light-background-color);
        line-height: 2rem;
        padding: 0 1rem;
        text-align: center;
        width: 10rem;

        &:hover {
            text-decoration: none;
        }
    }
}

.post-list-item,
.service {
    transition: all .3s ease-out;

    &:hover {
        transform: perspective(500px) scale3d(1, 1, 2) translateZ(10px);
    }
}

// debug stuff

// body {
//     background: repeating-linear-gradient(180deg, black, white 1px, white 20px);
// }

// * {
//     outline: 1px solid red;
// }
