{{ define "main" -}}
<h1>{{ .Title }}</h1>
<div class="posts">
{{ range .Data.Pages -}}
  <div class="post-list-item">
    <h2 class="post-list-item__title">{{ .Title }}</h2>
    <time class="post-list-item__date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
    <div class="post-list-item__summary">
      {{ if .Params.coverImg }}
        <img class="post-list-item__cover-image" src="{{ .Site.BaseURL }}images/{{ .Params.coverImg }}_thumbnail.png">
      {{ end }}
    </div>
    <div class="post-list-item__more">
      {{ .Summary }}
      <a href="{{ .Permalink }}">Read more</a>
    </div>
  </div>
{{- end }}
</div>
{{- end }}
