<aside class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <img class="profile" src="{{ .Site.BaseURL }}images/profile.jpeg">
      <h1>{{ .Site.Title }}</h1>
      <div class="lead">
      {{ range .Site.Params.lead }}
        <p>{{ . }}
      {{end}}
      </div>
    </div>



    <nav>
      <ul class="sidebar-nav">
        <li><a href="{{ .Site.BaseURL }}">Home</a> </li>
        {{ range .Site.Menus.main -}}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{- end }}
        <li><a href="https://milanjanosov.substack.com"> Newsletter </a></li>
      </ul>
    </nav>


    <nav>
      <ul class="sidebar-nav">
        <li><a href="{{ .Site.BaseURL }}">Home</a> </li>
        {{ range .Site.Menus.main -}}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{- end }}
        <li><a href="http://shop.janosov.com"> Shop </a></li>
      </ul>
    </nav>

    <nav class="social">
      <a href="https://www.linkedin.com/in/milan-janosov/"><img src="{{ site.BaseURL }}images/social/linkedin.png" class="social__icon"></a>
      <a href="https://www.instagram.com/milanjanosov_science"><img src="{{ site.BaseURL }}images/social/instagram.png" class="social__icon"></a>
      <a href="https://www.facebook.com/milanjanosovscience"><img src="{{ site.BaseURL }}images/social/facebook.png" class="social__icon"></a>
      <a href="https://www.twitter.com/milan_janosov"><img src="{{ site.BaseURL }}images/social/twitter.png" class="social__icon"></a>
    </nav>
</aside>
